@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400;500&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent; */
    background-color: #1f242d;
    color: white;
    gap: 10rem;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header-home{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.harsh-logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.nav-harsh a{
    font-size: 1.5rem;
    color: white;
    margin-left: 3rem;
    text-decoration: none;
}

.nav-harsh a:hover{
    color: aqua;
}

/* .harsh-home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% ;
} */

.harsh-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
}


.harsh-img-1{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

.harsh-content{
    max-width: 600px;
}

.harsh-content :nth-child(1){
    font-size: 2rem;
}
.harsh-content :nth-child(2){
    font-size: 2rem;
}
.harsh-content :nth-child(3){
    font-size: 3rem;
}
/* .harsh-content p br{
    color: aqua;
} */
.f{
    color: aqua;
    font-size: 3rem;
}
.harsh-content :nth-child(5){
    font-size: 2rem;
}
.harsh-social-media a{
    display: inline-flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    margin: 1rem ;
    color: aqua;
}

/* .harsh-social-media :hover{
    background-color: aqua;
} */

.harsh-resume{
    display: inline-block;
    padding: 12px 28px;
    background-color: aqua;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1rem;
}

/* .harsh-about{
    display: grid;
    grid-template-columns: repeat(auto-fit , min-max(1000px,1fr));
    padding: 130px ;
} */

/* .harsh3{
    width: 300px;
    height: 250px;
} */

.harsh-img-2{
    height: 250px;
    width: 450px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* .harsh-img{
    justify-content: center;
} */


.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 10px;
    gap: 2rem;
}



.about-p1{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: aqua;
    text-align: center;
}

.about-p2{
    font-size: 3.5rem;
    font-family: serif;
    text-align: center;
}

.about-p2:hover{
    color: aquamarine;
    cursor: pointer;
}

.about-button{
    display: inline-block;
    padding: 12px 28px;
    background-color: aqua;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1rem;
}
.about-read{
    text-align: center;
}

/* @media screen and (min-max: 320px){
    .about-wrapper{
        display: grid;
        padding: 130px;
    }
} */
.harsh-skills{
    justify-content: center;
}

.skills-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fit, min-max(320px, 1fr)); */
}

/* .skills-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 150px;
} */

.skills-p{
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color: aquamarine;
}
.skills-p:hover{
    color: white;
    cursor: pointer;
}

.skills-1{
    text-align: center;
    font-size: 2.5rem;
    font-family: serif;
}

.skills-2{
    text-align: center;
    font-size: 2.5rem;
    font-family: serif;
}
span{
    color: white;
}
.skills-p1{
    text-align: center;
    font-size: 1.5rem;
    color: aquamarine;
}


.portfolio-p1{
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    margin-top: 2rem;
    color: aquamarine;
}
.portfolio_img{
    width: 350px;
    height: 230px;
    gap: 1rem;
}

.portfolio-img{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 130px;
}


.noob{
    font-size: 1.5rem;
    font-family: serif;
    color: aquamarine;
}



/* .input-button{
    display: inline-block;
    padding: 12px 28px;
    background-color: aqua;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1rem;
} */

.form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 130px;
    gap: 5rem;
}
/* .n-1{
    padding: 8px;
    background-color: aqua;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
} */
/* .harsh-box1{
    gap: 5rem;
} */

.harsh-noob{
    gap: 30rem;
    margin: 3rem;
}

.contact-p{
    font-size: 2.5rem;
    font-family: serif;
    color: aquamarine;
    text-align: center;
}

.name{
    gap: 10rem;
}


.message{
    text-align: center;
}





input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }








  /* html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  } */
  
  .login-box {
    position: relative;
    /* top: 50%;
    left: 50%; */
    top: 100px;
    right: -680px;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
/*   
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  } */
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
/*   
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  } */
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  /* @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  } */
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  /* @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  } */
  


  @media only screen and (max-width: 1024px){
   .login-box{
    position: relative;
    right: -500px;
   } 
  }


  @media only screen and (max-width: 750px){
    .login-box{
     position: relative;
     right: -345px;
    } 
}


@media only screen and (max-width: 390px){
    .login-box{
     position: relative;
     right: -300px;
    } 
}
   


